
<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul>
        <li class="menu-text">Business contacts</li>
      </ul>
    </div>
    <div class="top-bar-right">

    </div>
  </div>
</div>

<div *ngIf="appState == 'default'" class="row">
  <div class="lare-6 columns">
    <button class="button" (click)="changestate('add')">Add Business </button>
  </div>
  <div class="large-6 columns">
    <label> Filter Category
      <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
        <option value="{{null}}">Select</option>
        <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
      </select>
    </label>
  </div>
</div>





<!-- Extended listing -->
<div *ngIf="appState == 'extended'">
  <div class="row">
    <div class="large-12 large-1-offset columns">
      <button class="button alert" (click)="changeState('default')"> Go Back</button>
    </div>
  </div>
  <div *ngFor="let business of businesses">
    <div *ngIf="business.$key == activeKey">
      <div class="row">
        <div class="large-5 columns large-offset-1">
          <h3>{{business.company}}</h3>
          <p>{{business.description}}</p>
        </div>
        <div class="large-5 columns large-offset-1">
          <ul>
            <li>{{business.city}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="large-12 columns">
    <!-- business  --->
    <div *ngIf="businesses">
      <table>
        <thead>
          <th>company</th>
          <th>category</th>
          <th>description</th>
        </thead>
        <tbody>
          <tr *ngFor="let business of businesses">
            <td>{{business.company}}</td>
            <td>{{business.Category}}</td>
            <td>{{business.description}}</td>
            <td>
              <button class="button" (click)="changeState('extended', business.$key)">More</button>
              <button class="button secondary">Edit</button>
              <button class="button alert">Delete</button>
            </td>
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>


<h1>
  {{title}}
</h1>


<ul *ngFor="let business of businesses">
  <li class="text">
    {{business.company}}
  </li>
</ul>